<div class="wrapper">
	<div class="flex faq">
		<img src="assets/images/img_waves.svg" class="top_wave"/>
	</div>
	<div class="flex bdr_bottom mflex_wrap">
		<div class="content">
			<h2>Sobre a While</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac risus lacus. Nulla tincidunt ex ut nulla accumsan, eu maximus nunc aliquam. Duis eget tellus bibendum, efficitur sapien at, ornare magna. Morbi et pretium velit. Mauris nec varius velit. Nullam venenatis orci id odio lacinia, in maximus magna dapibus. Suspendisse arcu eros, rhoncus vel porttitor ac, semper eget tellus. Nunc eu finibus eros. Fusce feugiat, tortor ut sagittis suscipit, sem dui sollicitudin elit, at interdum orci mauris non dui. Phasellus vitae ornare felis. Maecenas sit amet turpis et odio cursus ullamcorper vel a ipsum. Vestibulum ac massa justo.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac risus lacus. Nulla tincidunt ex ut nulla accumsan, eu maximus nunc aliquam. Duis eget tellus bibendum, efficitur sapien at, ornare magna. Morbi et pretium velit. Mauris nec varius velit. Nullam venenatis orci id odio lacinia, in maximus magna dapibus. Suspendisse arcu eros, rhoncus vel porttitor ac, semper eget tellus. Nunc eu finibus eros. Fusce feugiat, tortor ut sagittis suscipit, sem dui sollicitudin elit, at interdum orci mauris non dui. Phasellus vitae ornare felis. Maecenas sit amet turpis et odio cursus ullamcorper vel a ipsum. Vestibulum ac massa justo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac risus lacus. Nulla tincidunt ex ut nulla accumsan, eu maximus nunc aliquam. Duis eget tellus bibendum, efficitur sapien at, ornare magna. Morbi et pretium velit. Mauris nec varius velit. Nullam venenatis orci id odio lacinia, in maximus magna dapibus. Suspendisse arcu eros, rhoncus vel porttitor ac, semper eget tellus. Nunc eu finibus eros. Fusce feugiat, tortor ut sagittis suscipit, sem dui sollicitudin elit, at interdum orci mauris non dui. Phasellus vitae ornare felis. Maecenas sit amet turpis et odio cursus ullamcorper vel a ipsum. Vestibulum ac massa justo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
		</div>
	</div>
</div>