<img src="assets/images/img_waves.svg" class="top_wave mhide"/>
<div class="flex register mflex_wrap">
	<div class="header_register">
		<a routerLink="/cadastro-telefone" class="ico_back"></a>
		<a routerLink="/" class="logo_modal"></a>
	</div>	
	<div class="flex title_big">
		<h2>O que você <br>procura no While?</h2>
		<a href="faq.php" class="faq_link mhide">Perguntas frequentes</a>
	</div>
	<div class="flex content_options">
		<form class="flex">
			<div class="checkbox">
				<input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
				<label for="styled-checkbox-1">QUERO COMPRAR UM IMOVEL</label>
			</div>
			
			<div class="checkbox">
				<input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value2">
				<label for="styled-checkbox-2">QUERO ALUGAR OU VENDER MEU IMOVEL</label>
			</div>
			<div class="checkbox">
				<input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" value="value3">
				<label for="styled-checkbox-3">QUERO ALUGAR UM IMOVEL</label>
			</div>
			<input type="submit" value="Prosseguir" class="btn_border_yellow send mg_t_20"/>
		</form>
	</div>
</div>
<img src="assets/images/img_waves.svg" class="bottom_wave wave_m_middle"/>