<img src="assets/images/img_waves.svg" class="top_wave mhide"/>
<div class="flex register mflex_wrap">
	<div class="header_register">
		<a routerLink="/cadastro-dados-pessoais" class="ico_back"></a>
		<a routerLink="/" class="logo_modal"></a>
	</div>	
	<div class="flex title_big">
		<h2>Insira seu <br>número de celular</h2>
		<a href="faq.php" class="faq_link mhide">Perguntas frequentes</a>
	</div>
	<div class="flex content_options phone">
		<form>
			<select class="w_small">
				<option>BR +55</option>
				<option>BR +55</option>
				<option>BR +55</option>
			</select>
			<input type="text" placeholder="99 0000 0000" class="w_medio"/>
			<input type="submit" value="Prosseguir" routerLink="/cadastro-interesses" class="btn_border_yellow send w_big"/>
		</form>
	</div>
	<img src="assets/images/img_waves.svg" class="bottom_wave wave_m_middle"/>
</div>