<footer class="flex mflex_wrap">
	<div class="flex about">
		<div class="itens">
			<a routerLink="/about">Sobre a While</a>
			<a routerLink="/contato">Fale conosco</a>
			<!--<a href="javascript:void(0)">Trabalhe conosco</a>-->
			<div class="ico_redes">
				<a href="javascript:void(0)" class="ico_insta_g"></a>
				<a href="javascript:void(0)" class="ico_facebook_g"></a>
			</div>	
		</div>	
		
	</div>	
	<div class="flex quickly_acess">
		<div class="itens">
			<a outerLink="/busca">Alugar</a>
			<a outerLink="/cadastro">Anunciar imóvel</a>
			<a routerLink="/favoritos">Favoritos</a>
			<a href="javascript:void(0)">Política de privacidade</a>
			<a href="javascript:void(0)">Como funciona</a>
			<a routerLink="/faq">Precisa de ajuda?</a>
		</div>	
	</div>
	<div class="flex apps">
		<div class="itens">
			<p>Em breve</p>
			<a href="javascript:void(0)" class="googleplay"></a>
			<a href="javascript:void(0)" class="appstore"></a>
			<small>© While  Ltda - Todos os direitos reservados </small>
		</div>
	</div>
</footer>