<div class="contact flex mflex_wrap">
	<div class="flex phone">
		<div>
			<i class="ico_call"></i>
			<h2>Ligue para a gente</h2>
			<p>Belo Horizonte: (31) 2514 - 8737 <br/>
			Porto Alegre: (51) 4042 - 7711</p>
		</div>	
	</div>
	<div class="flex message">
		<div>
			<img src="assets/images/wave_small.svg" class="top_wave mhide"/>
			<h2>Envie uma mensagem</h2>
			<form>
				<input type="text" placeholder="Nome"/>
				<input type="text" placeholder="Email"/>
				<input type="text" placeholder="Telefone"/>
				<textarea placeholder="Mensagem"></textarea>
				<input type="submit" value="Enviar" class="btn_border_yellow w_medio"/>
			</form>
			<img src="assets/images/wave_medio.svg" class="bottom_wave mhide"/>
		</div>
	</div>
	<div class="flex chat">
		<div>
			<i class="ico_chat"></i>
			<h2>Diga um oi pelo <a href="javascript:void(0);">chat</a></h2>
			<p>Ficamos online de segunda a <br/>
			sexta das 08:00 às 18:00hrs.</p>
		</div>
	</div>
</div>