<div class="wrapper">
	<div class="profile mflex_wrap">
		<div class="profile_content mflex_wrap">
			<div class="map">
				<div> Espaço do mapa</div>
			</div>
			<div class="photo">
				<img/>
				<i></i>
			</div>
			<a href="avaliacao.php" class="rate send mhide">Avaliar usuário </a>
			<div class="resume">
				<div class="mini">
					<h3>Nome do usuário</h3>
					<p> Recife, Brasil Cadastrou-se em Fevereiro de 2017 </p>
					<div class="rate_star">
						<span class="ico_star checked"></span>
						<span class="ico_star checked"></span>
						<span class="ico_star checked"></span>
						<span class="ico_star"></span>
						<span class="ico_star"></span>
					</div>	
				</div>
				<div class="about">
					<p>Sobre mim</p>
					<p>Sou advogada autônoma e tenho três aptos no Recife Flat para locação, onde já morei por quinze anos. 
						Atualmente moro num condomínio de casas numa área serrana do Grande Recife, denominada Aldeia,
						tanto pelo clima mais ameno tanto... <a href="javascript:void(0)">Continuar lendo</a></p>
				</div>
			</div>
		</div>
		
		<div class="content content_tabs mflex_wrap">
			<main>
				<input id="tab1" type="radio" name="tabs" checked>
				<label for="tab1"><i class="ico_coment"></i> COMENTÁRIOS</label>
				
				<input id="tab2" type="radio" name="tabs">
				<label for="tab2"><i class="ico_properties"></i> IMÓVEIS</label>
				<section id="content1">
					<div class="flex mflex_wrap">
						<div class="box_coment">
							<div class="mini_about flex">
								<img/>
								<div class="flex">
									<p>Nome do usuário</p>
									<div class="rate_star">
										<span class="ico_star checked"></span>
										<span class="ico_star checked"></span>
										<span class="ico_star checked"></span>
										<span class="ico_star"></span>
										<span class="ico_star"></span>
									</div>	
								</div>		
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac risus lacus. Nulla tincidunt ex ut nulla accumsan, eu maximus nunc aliquam. Duis eget tellus bibendum, efficitur sapien at, ornare magna. Morbi et pretium vNulla tincidunt ex ut nulla accumsan, eu maxim</p>
							<div class="date"><i class="ico_date"></i> 25/06/1994 - Recife PE</div>
						</div>
						<div class="box_coment">
							<div class="mini_about flex">
								<img/>
								<div class="flex">
									<p>Nome do usuário</p>
									<div class="rate_star">
										<span class="ico_star checked"></span>
										<span class="ico_star checked"></span>
										<span class="ico_star checked"></span>
										<span class="ico_star"></span>
										<span class="ico_star"></span>
									</div>	
								</div>		
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac risus lacus. Nulla tincidunt ex ut nulla accumsan, eu maximus nunc aliquam. Duis eget tellus bibendum, efficitur sapien at, ornare magna. Morbi et pretium vNulla tincidunt ex ut nulla accumsan, eu maxim</p>
							<div class="date"><i class="ico_date"></i> 25/06/1994 - Recife PE</div>
						</div>
						<div class="box_coment">
							<div class="mini_about flex">
								<img/>
								<div class="flex">
									<p>Nome do usuário</p>
									<div class="rate_star">
										<span class="ico_star checked"></span>
										<span class="ico_star checked"></span>
										<span class="ico_star checked"></span>
										<span class="ico_star"></span>
										<span class="ico_star"></span>
									</div>	
								</div>		
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac risus lacus. Nulla tincidunt ex ut nulla accumsan, eu maximus nunc aliquam. Duis eget tellus bibendum, efficitur sapien at, ornare magna. Morbi et pretium vNulla tincidunt ex ut nulla accumsan, eu maxim</p>
							<div class="date"><i class="ico_date"></i> 25/06/1994 - Recife PE</div>
						</div>
					</div>
					<div class="coment">
						<h2>Escrever um comentario</h2>
						<form>
							<div id="editor" class="pell"></div>
							<input type="submit" class="btn_border_yellow" value="Adicionar nota"/>
						</form>	
					</div>
				</section>

				<section id="content2">
					<div class="flex mflex_wrap">
						<div class="fav_content">
							<div class="house_photo">
								<img src="assets/images/Background.png"/>
								<span class="ref">Ref 2631</span>
								<a class="fav" href="javascript:void(0)">
									<i class="ico_fav"></i>
								</a>
								<div class="descrition">
									<p>Apartamento 45m²</p>
									<small>Rua João Bernardo Magalhães Centro</small>
								</div>		
							</div>
							<div class="value">
								<h3>Aluguel <span>R$ 900,00</span></h3>
								<p>IPTU R$ 65,47 | Condomínio R$ 260,00</p>
							</div>
							<div class="bath">
								<span><i class="ico_bed"></i> 03</span>
								<span><i class="ico_bath"></i> 02</span>
							</div>
						</div>
						<div class="fav_content">
							<div class="house_photo">
								<img src="assets/images/Background.png"/>
								<span class="ref">Ref 2631</span>
								<a class="fav" href="javascript:void(0)">
									<i class="ico_fav"></i>
								</a>
								<div class="descrition">
									<p>Apartamento 45m²</p>
									<small>Rua João Bernardo Magalhães Centro</small>
								</div>		
							</div>
							<div class="value">
								<h3>Aluguel <span>R$ 900,00</span></h3>
								<p>IPTU R$ 65,47 | Condomínio R$ 260,00</p>
							</div>
							<div class="bath">
								<span><i class="ico_bed"></i> 03</span>
								<span><i class="ico_bath"></i> 02</span>
							</div>
						</div>
						<div class="fav_content">
							<div class="house_photo">
								<img src="assets/images/Background.png"/>
								<span class="ref">Ref 2631</span>
								<a class="fav" href="javascript:void(0)">
									<i class="ico_fav"></i>
								</a>
								<div class="descrition">
									<p>Apartamento 45m²</p>
									<small>Rua João Bernardo Magalhães Centro</small>
								</div>		
							</div>
							<div class="value">
								<h3>Aluguel <span>R$ 900,00</span></h3>
								<p>IPTU R$ 65,47 | Condomínio R$ 260,00</p>
							</div>
							<div class="bath">
								<span><i class="ico_bed"></i> 03</span>
								<span><i class="ico_bath"></i> 02</span>
							</div>
						</div>
						<div class="fav_content">
							<div class="house_photo">
								<img src="assets/images/Background.png"/>
								<span class="ref">Ref 2631</span>
								<a class="fav" href="javascript:void(0)">
									<i class="ico_fav"></i>
								</a>
								<div class="descrition">
									<p>Apartamento 45m²</p>
									<small>Rua João Bernardo Magalhães Centro</small>
								</div>		
							</div>
							<div class="value">
								<h3>Aluguel <span>R$ 900,00</span></h3>
								<p>IPTU R$ 65,47 | Condomínio R$ 260,00</p>
							</div>
							<div class="bath">
								<span><i class="ico_bed"></i> 03</span>
								<span><i class="ico_bath"></i> 02</span>
							</div>
						</div>
					</div>
					<div class="fav_content empty">
						<p>Você não possui nenhum produto publicado</p>
						<a href="javascript:void(0)" class="btn_border_yellow">Vamos vender ou alugar?</a>
					</div>
				</section>
			</main>
		</div>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="assets/script/pell.css">
<script src="assets/script/pell.js"></script>
<script>
  var editor = window.pell.init({
	element: document.getElementById('editor'),
	defaultParagraphSeparator: 'p',
	actions: ['bold', 'italic', 'underline','quote', 'olist', 'ulist']
  })
</script>