<div class="wrapper favoritos">
	<a href="javascript:void(0)" class="trash"><i class="ico_trash"></i></a>
	<select class="ordem">
		<option>Mais recente</option>
		<option>Menor preço</option>
		<option>Maior preço</option>
	</select>
	<h2>Imóveis favoritos</h2>
	<div class="flex flex_wrap fav_wrap_content">
		<div class="fav_content">
			<div class="house_photo">
				<img src="images/Background.png"/>
				<span class="ref">Ref 2631</span>
				<div class="checkbox">
					<input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value2">
					<label for="styled-checkbox-1"></label>
				</div>
				<div class="descrition">
					<p>Apartamento 45m²</p>
					<small>Rua João Bernardo Magalhães Centro</small>
				</div>		
			</div>
			<div class="value">
				<h3>Aluguel <span>R$ 900,00</span></h3>
				<p>IPTU R$ 65,47 | Condomínio R$ 260,00</p>
			</div>
			<div class="bath">
				<span><i class="ico_bed"></i> 03</span>
				<span><i class="ico_bath"></i> 02</span>
			</div>
		</div>
		<div class="fav_content">
			<div class="house_photo">
				<img src="images/Background.png"/>
				<span class="ref">Ref 2631</span>
				<div class="checkbox">
					<input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value2">
					<label for="styled-checkbox-2"></label>
				</div>
				<div class="descrition">
					<p>Apartamento 45m²</p>
					<small>Rua João Bernardo Magalhães Centro</small>
				</div>		
			</div>
			<div class="value">
				<h3>Aluguel <span>R$ 900,00</span></h3>
				<p>IPTU R$ 65,47 | Condomínio R$ 260,00</p>
			</div>
			<div class="bath">
				<span><i class="ico_bed"></i> 03</span>
				<span><i class="ico_bath"></i> 02</span>
			</div>
		</div>
		<div class="fav_content">
			<div class="house_photo">
				<img src="images/Background.png"/>
				<span class="ref">Ref 2631</span>
				<div class="checkbox">
					<input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" value="value2">
					<label for="styled-checkbox-3"></label>
				</div>
				<div class="descrition">
					<p>Apartamento 45m²</p>
					<small>Rua João Bernardo Magalhães Centro</small>
				</div>		
			</div>
			<div class="value">
				<h3>Aluguel <span>R$ 900,00</span></h3>
				<p>IPTU R$ 65,47 | Condomínio R$ 260,00</p>
			</div>
			<div class="bath">
				<span><i class="ico_bed"></i> 03</span>
				<span><i class="ico_bath"></i> 02</span>
			</div>
		</div>
		<div class="fav_content">
			<div class="house_photo">
				<img src="images/Background.png"/>
				<span class="ref">Ref 2631</span>
				<div class="checkbox">
					<input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" value="value2">
					<label for="styled-checkbox-4"></label>
				</div>
				<div class="descrition">
					<p>Apartamento 45m²</p>
					<small>Rua João Bernardo Magalhães Centro</small>
				</div>		
			</div>
			<div class="value">
				<h3>Aluguel <span>R$ 900,00</span></h3>
				<p>IPTU R$ 65,47 | Condomínio R$ 260,00</p>
			</div>
			<div class="bath">
				<span><i class="ico_bed"></i> 03</span>
				<span><i class="ico_bath"></i> 02</span>
			</div>
		</div>
		<div class="fav_content">
			<div class="house_photo">
				<img src="images/Background.png"/>
				<span class="ref">Ref 2631</span>
				<div class="checkbox">
					<input class="styled-checkbox" id="styled-checkbox-5" type="checkbox" value="value2">
					<label for="styled-checkbox-5"></label>
				</div>
				<div class="descrition">
					<p>Apartamento 45m²</p>
					<small>Rua João Bernardo Magalhães Centro</small>
				</div>		
			</div>
			<div class="value">
				<h3>Aluguel <span>R$ 900,00</span></h3>
				<p>IPTU R$ 65,47 | Condomínio R$ 260,00</p>
			</div>
			<div class="bath">
				<span><i class="ico_bed"></i> 03</span>
				<span><i class="ico_bath"></i> 02</span>
			</div>
		</div>
		<div class="fav_content">
			<div class="house_photo">
				<img src="images/Background.png"/>
				<span class="ref">Ref 2631</span>
				<div class="checkbox">
					<input class="styled-checkbox" id="styled-checkbox-6" type="checkbox" value="value2">
					<label for="styled-checkbox-6"></label>
				</div>
				<div class="descrition">
					<p>Apartamento 45m²</p>
					<small>Rua João Bernardo Magalhães Centro</small>
				</div>		
			</div>
			<div class="value">
				<h3>Aluguel <span>R$ 900,00</span></h3>
				<p>IPTU R$ 65,47 | Condomínio R$ 260,00</p>
			</div>
			<div class="bath">
				<span><i class="ico_bed"></i> 03</span>
				<span><i class="ico_bath"></i> 02</span>
			</div>
		</div>
		<div class="fav_content">
			<div class="house_photo">
				<img src="images/Background.png"/>
				<span class="ref">Ref 2631</span>
				<div class="checkbox">
					<input class="styled-checkbox" id="styled-checkbox-7" type="checkbox" value="value2">
					<label for="styled-checkbox-7"></label>
				</div>
				<div class="descrition">
					<p>Apartamento 45m²</p>
					<small>Rua João Bernardo Magalhães Centro</small>
				</div>		
			</div>
			<div class="value">
				<h3>Aluguel <span>R$ 900,00</span></h3>
				<p>IPTU R$ 65,47 | Condomínio R$ 260,00</p>
			</div>
			<div class="bath">
				<span><i class="ico_bed"></i> 03</span>
				<span><i class="ico_bath"></i> 02</span>
			</div>
		</div>
		<div class="fav_content">
			<div class="house_photo">
				<img src="images/Background.png"/>
				<span class="ref">Ref 2631</span>
				<div class="checkbox">
					<input class="styled-checkbox" id="styled-checkbox-8" type="checkbox" value="value2">
					<label for="styled-checkbox-8"></label>
				</div>
				<div class="descrition">
					<p>Apartamento 45m²</p>
					<small>Rua João Bernardo Magalhães Centro</small>
				</div>		
			</div>
			<div class="value">
				<h3>Aluguel <span>R$ 900,00</span></h3>
				<p>IPTU R$ 65,47 | Condomínio R$ 260,00</p>
			</div>
			<div class="bath">
				<span><i class="ico_bed"></i> 03</span>
				<span><i class="ico_bath"></i> 02</span>
			</div>
		</div>
	</div>
</div>