<div class="home">
	<div class="flex faq">
		
		<div>
			<h2>Procure seu lar</h2>
			<form>
				<input type="text" class="search" placeholder="Onde você deseja morar?"/>
				<a routerLink="/busca" class="btn_border btn_full btn-pesquisar">Pesquisar</a>
			</form>
		</div>	
	</div>
	<div class="section_1">
		<div class="section_text">
			<h2>Para quem procura um novo lar</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac 
			risus lacus. Nulla tincidunt ex ut nulla accumsan, eu maximus 
			nunc aliquam. Duis eget tellus bibendum, efficitur sapien at, 
			ornare magna. Morbi et pretium velit. Mauris nec varius velit. 
			Nullam venenatis orci id odio laci</p>
		</div>
		<div class="round mhide">
			<img src="assets/images/bubble.png"/>
		</div>
		<img src="assets/images/img_waves.svg" class="wave mhide">
	</div>	
	<div class="section_2">
		<img src="assets/images/pawel-czerwinski-760968-unsplash.png"/>
		<div class="section_text right">
			<h2>Para quem anuncia seu imóvel</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac 
			risus lacus. Nulla tincidunt ex ut nulla accumsan, eu maximus 
			nunc aliquam. Duis eget tellus bibendum, efficitur sapien at, 
			ornare magna. Morbi et pretium velit. Mauris nec varius velit. 
			Nullam venenatis orci id odio laci</p>
		</div>
	</div>	
	<div class="section_3">
		<h3>Imóveis para você</h3>
		<div class="results_show flex">
			<div class="fav_content">
				<div class="house_photo">
					<img src="assets/images/Background.png"/>
					<span class="ref">Ref 2631</span>
					<a class="fav" href="javascript:void(0)">
						<i class="ico_fav"></i>
					</a>
					<div class="descrition">
						<p>Apartamento 45m²</p>
						<small>Rua João Bernardo Magalhães Centro</small>
					</div>		
				</div>
				<div class="value">
					<h3>Aluguel <span>R$ 900,00</span></h3>
					<p>IPTU R$ 65,47 | Condomínio R$ 260,00</p>
				</div>
				<div class="bath">
					<span><i class="ico_bed"></i> 03</span>
					<span><i class="ico_bath"></i> 02</span>
				</div>
			</div>
			<div class="fav_content">
				<div class="house_photo">
					<img src="assets/images/Background.png"/>
					<span class="ref">Ref 2631</span>
					<a class="fav" href="javascript:void(0)">
						<i class="ico_fav"></i>
					</a>
					<div class="descrition">
						<p>Apartamento 45m²</p>
						<small>Rua João Bernardo Magalhães Centro</small>
					</div>		
				</div>
				<div class="value">
					<h3>Aluguel <span>R$ 900,00</span></h3>
					<p>IPTU R$ 65,47 | Condomínio R$ 260,00</p>
				</div>
				<div class="bath">
					<span><i class="ico_bed"></i> 03</span>
					<span><i class="ico_bath"></i> 02</span>
				</div>
			</div>
			<div class="fav_content">
				<div class="house_photo">
					<img src="assets/images/Background.png"/>
					<span class="ref">Ref 2631</span>
					<a class="fav" href="javascript:void(0)">
						<i class="ico_fav"></i>
					</a>
					<div class="descrition">
						<p>Apartamento 45m²</p>
						<small>Rua João Bernardo Magalhães Centro</small>
					</div>		
				</div>
				<div class="value">
					<h3>Aluguel <span>R$ 900,00</span></h3>
					<p>IPTU R$ 65,47 | Condomínio R$ 260,00</p>
				</div>
				<div class="bath">
					<span><i class="ico_bed"></i> 03</span>
					<span><i class="ico_bath"></i> 02</span>
				</div>
			</div>
			<div class="fav_content">
				<div class="house_photo">
					<img src="assets/images/Background.png"/>
					<span class="ref">Ref 2631</span>
					<a class="fav" href="javascript:void(0)">
						<i class="ico_fav"></i>
					</a>
					<div class="descrition">
						<p>Apartamento 45m²</p>
						<small>Rua João Bernardo Magalhães Centro</small>
					</div>		
				</div>
				<div class="value">
					<h3>Aluguel <span>R$ 900,00</span></h3>
					<p>IPTU R$ 65,47 | Condomínio R$ 260,00</p>
				</div>
				<div class="bath">
					<span><i class="ico_bed"></i> 03</span>
					<span><i class="ico_bath"></i> 02</span>
				</div>
			</div>
			<div class="fav_content">
				<div class="house_photo">
					<img src="assets/images/Background.png"/>
					<span class="ref">Ref 2631</span>
					<a class="fav" href="javascript:void(0)">
						<i class="ico_fav"></i>
					</a>
					<div class="descrition">
						<p>Apartamento 45m²</p>
						<small>Rua João Bernardo Magalhães Centro</small>
					</div>		
				</div>
				<div class="value">
					<h3>Aluguel <span>R$ 900,00</span></h3>
					<p>IPTU R$ 65,47 | Condomínio R$ 260,00</p>
				</div>
				<div class="bath">
					<span><i class="ico_bed"></i> 03</span>
					<span><i class="ico_bath"></i> 02</span>
				</div>
			</div>
		</div>
	</div>
	<div class="partners">
		<div class="section_text left">
			<h2>Nossa rede de parceiros</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac 
			risus lacus. Nulla tincidunt ex ut nulla accumsan, eu maximus 
			nunc aliquam. Duis eget tellus bibendum, efficitur sapien at, 
			ornare magna. Morbi et pretium velit. Mauris nec varius velit. 
			Nullam venenatis orci id odio laci</p>
			<a routerLink="/contato" class="btn_border_yellow left btn_arrow">Quero ser um parceiro</a>
		</div>
		<div class="partners_itens right">
			<a href="javascript:void();"><img src="assets/images/logo_cliente-ALGAR.png"/></a>
			<a href="javascript:void();"><img src="assets/images/logo_cliente-ALGAR.png"/></a>
			<a href="javascript:void();"><img src="assets/images/logo_cliente-ALGAR.png"/></a>
			<a href="javascript:void();"><img src="assets/images/logo_cliente-ALGAR.png"/></a>					
		</div>
	</div>
</div>