<div class="wrapper">
	<div class="flex faq">
		<img src="assets/images/img_waves.svg" class="top_wave"/>
		<div>
			<h2>Como podemos ajudar?</h2>
			<form>
				<input type="text" class="search" placeholder="Digite aqui a sua dúvida"/>
			</form>
		</div>	
	</div>
	<div class="flex bdr_bottom mflex_wrap">
		<nav class="sidebar">
			<h2>Perguntas frequentes</h2>
			<ul>
				<li><a href="javascript:void(0)" class="active">Proprietários de imóveis</a></li>
				<li><a href="javascript:void(0)">Encontre um lar</a></li>
				<li><a href="javascript:void(0)">Ganhe dinheiro indicando imóveis</a></li>
				<li><a href="javascript:void(0)">Bairros e cidades</a></li>
				<li><a href="javascript:void(0)">Já sou inquilino</a></li>
				<li><a href="javascript:void(0)">Condições contratuais</a></li>
				<li><a href="javascript:void(0)">Sobre a Whille</a></li>
				<li><a href="javascript:void(0)">Proteção QuintoAndar1</a></li>
			</ul>
		</nav>
		<div class="content">
			<h2>Proprietários de imóveis</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac risus lacus. Nulla tincidunt ex ut nulla accumsan, eu maximus nunc aliquam. Duis eget tellus bibendum, efficitur sapien at, ornare magna. Morbi et pretium velit. Mauris nec varius velit. Nullam venenatis orci id odio lacinia, in maximus magna dapibus. Suspendisse arcu eros, rhoncus vel porttitor ac, semper eget tellus. Nunc eu finibus eros. Fusce feugiat, tortor ut sagittis suscipit, sem dui sollicitudin elit, at interdum orci mauris non dui. Phasellus vitae ornare felis. Maecenas sit amet turpis et odio cursus ullamcorper vel a ipsum. Vestibulum ac massa justo.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
			<div class="half">
				<div class="tab">
					<input id="tab-one" type="checkbox" name="tabs">
					<label for="tab-one">Posso indicar qualquer imóvel? </label>
					<div class="tab-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
					</div>
				</div>
				<div class="tab">
					<input id="tab-two" type="checkbox" name="tabs">
					<label for="tab-two">Label Two</label>
					<div class="tab-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
					</div>
				</div>
				<div class="tab">
					<input id="tab-three" type="checkbox" name="tabs">
					<label for="tab-three">Label Three</label>
					<div class="tab-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="faq_more">
		<p class="left">Não encontrou o que procurava?</p>		
		<a outerLink="/contato" class="btn_border_yellow right btn_arrow">Envie uma mensagem </a>				
	</div>
	<div class="faq_more">
		<p class="left">Não conseguiu resolver online?</p>	
		<a outerLink="/contato" class="btn_border_yellow right btn_arrow">Você pode ligar pra gente </a>				
	</div>
</div>