<img src="assets/images/img_waves.svg" class="top_wave mhide"/>
<div class="flex register mflex_wrap">
	<div class="header_register">
		<a href="javascript:void(0)" class="ico_back"></a>
		<a href="javascript:void(0)" class="logo_modal"></a>
	</div>	
	<div class="flex title_big">
		<div class="flex options">	
			<h2>Crie uma conta e se torne um While</h2>
			<p class="aceite">Já é um While? <a href="javascript:void(0)">Clique aqui</a></p>
			<a href="faq.php" class="faq_link mhide">Perguntas frequentes</a>
		</div>	
	</div>
	<div class="flex content_options ">
		<div class="flex create">
			<a routerLink="/cadastro-dados-pessoais" class="btn_border_yellow send">Criar conta pelo e-mail<i></i></a>
			<a href="javascript:void(0)" class="facebook redes">Criar conta com Facebook<i class="ico_facebook_w"></i></a>
			<a href="javascript:void(0)" class="google redes">Criar conta com Google<i class="ico_google_w"></i></a>
			<p class="aceite">Ao clicar em Criar conta , você aceita os <a href="javascript:void(0)">Termos de Uso</a>
			da While  e confirma que leu a <a href="javascript:void(0)">Política de Privacidade</a></p>
			<a href="faq.php" class="faq_link mshow">Perguntas frequentes</a>
		</div>
	</div>
</div>
<img src="assets/images/img_waves.svg" class="bottom_wave wave_m_middle"/>