<img src="assets/images/img_waves.svg" class="top_wave mhide"/>
<div class="flex register mflex_wrap">
	<div class="header_register">
		<a href="javascript:void(0)" class="ico_back"></a>
		<a href="javascript:void(0)" class="logo_modal"></a>
	</div>	
	<div class="flex title_big">
		<h2>Insira seus dados pessoais</h2>
		<a href="faq.php" class="faq_link mhide">Perguntas frequentes</a>
	</div>
	<div class="flex content_options">
		<form class="flex">
			<input type="text" placeholder="Nome Completo"/>
			<input type="text" placeholder="E-mail"/>
			<input type="password" placeholder="Senha"/>
			<input type="submit" value="Prosseguir" routerLink="/cadastro-telefone" class="btn_border_yellow send"/>
		</form>
	</div>
	
</div>
<img src="assets/images/img_waves.svg" class="bottom_wave wave_m_middle"/>